<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div class="tile is-ancestor">

        <div class="tile is-parent">

            <article class="tile is-child green post">

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?

            </article>

        </div>

        <div class="tile is-6 is-parent">

            <article class="tile is-child pink post">

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?

            </article>

        </div>

        <div class="tile is-vertical is-parent">

            <article class="tile is-child blue post">

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?

            </article>

            <article class="tile is-child gold post">

                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit tenetur unde laboriosam rem. Enim unde minima sunt. Optio veritatis excepturi quae vero dolorem sed. Suscipit nesciunt optio officia iure?

            </article>

        </div>

    </div>


</body>

</html>
