body{
    background-color: blue;
    font-family: sans-serif;
}

.container{
    width: max-content;
    margin:auto;
    margin-top: 90px;
    text-align: center;
    background-color: white;
    padding: 50px;
    padding-bottom: 100px;
    border-radius: 20px;
}

h1{
    margin-bottom: 100px;
}

.container table tr td{
    padding-bottom: 20px;
    text-align: left;
}

.container table tr td:nth-child(3) *{
    width: 150px;
}

.container table tr td:nth-child(2){
    padding-left: 10px;
    padding-right: 10px;
}

.subcontainer{
    margin-top: 40px;
}

.subcontainer input{
    border:0;
    width: 160px;
    height: 35px;
    border-radius: 20px;
    transition: 0.3s ease;
    background-color: rgb(76, 76, 255);
    font-size: 12px;
    color: white;
}

.subcontainer input:hover{
    background-color: blue;
    font-size: 11.5px;
    transform: scale(1.05,1.05);
    cursor: pointer;
}
