body{
    background-color: yellow;
    text-align: center;
}

.container{
    background-color: white;
    width: max-content;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
}

h1{
    padding-bottom: 40px;
}

.subcontainer1{

}

.container .subcontainer1 table tr td:nth-child(1){
    text-align: left;
    width: 150px;
}

.container .subcontainer1 table tr td:nth-child(2){
    text-align: left;
    width: 20px;
}
.container .subcontainer1 table tr td:nth-child(3){
    text-align: left;
}
.container .subcontainer1 table{
    margin-right: 40px;
    margin-bottom: 50px;
}
.container .subcontainer1 table tr td{
    padding-bottom: 10px;
}

#hb{
    border: 0;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

.tombol{
    border: 0;
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgb(81, 81, 255);
    color: white;
    border-radius: 20px;
    transition: 0.3s ease;
}

.tombol:hover{
    cursor: pointer;
    font-size: 14.5px;
    transform: scale(1.05,1.05);
    background-color: rgb(0, 0, 255);
}

.subcontainer2 table tr th:nth-child(1){
    width: 40px;
}
.subcontainer2 table tr th:nth-child(2){
    width: 200px;
}
.subcontainer2 table tr th:nth-child(3){
    width: 180px;
}
.subcontainer2 table tr th:nth-child(4){
    width: 100px;
}
